.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}

.services {
    background: var(--color-bg-variant);
    border-radius: 2rem 2rem 2rem 2rem;
    height: fit-content;
    border: 1px solid transparent;
}

.services:hover {
    transition: var(--transition);
    background: transparent;
    cursor: default;
    border-color: var(--color-primary-variant);
}

.services__head {
    background: var(--color-primary);
    padding: 1.5rem;
    border-radius: 2rem 2rem 2rem 2rem;
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
    margin-bottom: 0.5rem;
}

.services__head h3 {
    color: var(--color-bg);
    font-size: 1rem;
    text-align: center;
}

.service__list {
    padding: 2rem;
}

.service__list li {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service__list-icon {
    color: var(--color-primary);
    margin-top: 5px;
}

.service__list p {
    font-size: 0.9rem;
}